<footer>
  <div class="email-cel">
    <h5>Email</h5>
    <p>icaro.sperandio@gmail.com</p>
    <h5>Celular</h5>
    <p>(00) 90000-0000</p>
  </div>

  <div class="social-network">
    <a href="https://github.com/SperandioIcaro" target="_blank">
      <img src="../../../assets/img/icons/github-icon.png" alt="">
    </a>
    <a href="https://www.linkedin.com/in/icaro-sperandio/" target="_blank">
      <img src="../../../assets/img/icons/linkedin-icon.png" alt="">
    </a>
    <a href="https://instagram.com/ihcaraio" target="_blank">
      <img src="../../../assets/img/icons/instagram-icon.png" alt="">
    </a>
  </div>
</footer>
