<footer>
  <div class="email-cel">
    <h5>Email</h5>
    <p>gustavoooliveira111@gmail.com</p>
    <h5>Celular</h5>
    <p>(34) 99108-9594</p>
  </div>

  <div class="social-network">
    <a href="https://github.com/Luiz-NP">
      <img src="../../../assets/img/icons/github-icon.png" alt="">
    </a>
    <a href="https://www.linkedin.com/in/luiz-gustavo-silva-oliveira-04917a23a/">
      <img src="../../../assets/img/icons/linkedin-icon.png" alt="">
    </a>
    <img src="../../../assets/img/icons/instagram-icon.png" alt="">
  </div>
</footer>
